@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
    to bottom,
    #f8fafc,
    #eef2ff
  );

  color: var(--foreground);

  margin: 0;
  padding: 0;

  font-family: var(--font-geist-sans);
}

a {
  text-decoration: none;
}